IMPORT LIBRARIES

In [118]:
import pandas as pd, numpy as np

READ CSV PROPERTY FILE

In [119]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head(2)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"

create a copy of the property file

In [120]:
melb_df = melb_data.copy()
melb_df.head(2)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"

too many unique values

In [121]:
print(melb_df['Address'].nunique())

13378

let's find some characteristics

In [124]:
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [125]:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [126]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [127]:
print(street_types.nunique())

56

In [128]:
display(street_types.value_counts())

Address
St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: count, dtype: int64

force the change, create a new column

In [129]:
melb_df['StreetType'] = melb_df['Address'].apply(get_street_type)

deal with the leftover names

In [130]:
def updated_street_type(street_type):
    if street_type == 'Avenue':
        street_type = 'Av'
    elif street_type == 'Boulevard':
        street_type = 'Bvd'
    elif street_type == 'Parade':
        street_type = 'Pde'
    return street_type

apply the new change

In [131]:
melb_df['StreetType'] = melb_df['StreetType'].apply(updated_street_type)

confirm that the change was made

In [132]:
print(melb_df['StreetType'].nunique())

53

In [133]:
melb_df.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,StreetType
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984",St
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934",St
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944",St

find the most frequent address abbreviations

In [160]:
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

assign the street abbreviation to each record

In [135]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

now the new subtype list is smaller

In [136]:
print(melb_df['StreetType'].nunique())

11

now no need to keep the address or coordinates column

In [137]:
melb_df = melb_df.drop(['Address', 'Coordinates'], axis=1)

In [138]:
melb_df.tail(2)

,index,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,StreetType
13578,13578,Williamstown,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,St
13579,13579,Yarraville,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,1,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,St

Exercise 4.2

change Date to datetime from object

In [139]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

NEVER, AND I MEAN EVER TRUST FUCKING DAYOFWEEK \
I FUCKING MEAN IT

In [143]:
melb_df['WeekDaySale'] = melb_df['Date'].dt.day_name()
display(melb_df['WeekDaySale'])
melb_df['WeekDaySale'].dtype

0        Saturday
1        Thursday
2        Saturday
3        Saturday
4        Saturday
           ...
13575    Saturday
13576    Saturday
13577    Saturday
13578    Saturday
13579    Saturday
Name: WeekDaySale, Length: 13580, dtype: object

dtype('O')

In [144]:
melb_df['WeekDaySale'].value_counts()

WeekDaySale
Saturday    11759
Sunday       1063
Monday        597
Tuesday       133
Thursday       28
Name: count, dtype: int64

In [145]:
melb_df.head()

,index,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,StreetType,WeekDaySale
0,0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,St,Saturday
1,1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,St,Thursday
2,2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,St,Saturday
3,3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,other,Saturday
4,4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,St,Saturday

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale: \
возвращает 1, если день является выходным, и 0 — в противном случае, \
и создайте столбец Weekend в таблице melb_df с помощью неё.

In [146]:
melb_df.loc[123, 'WeekDaySale']

'Saturday'

In [147]:
def get_weekend(weekday):
    if weekday == 'Saturday' or weekday == 'Sunday':
        return 1
    else:
        return 0

In [148]:
week_day_type_variable = melb_df['WeekDaySale'].apply(get_weekend)
display(week_day_type_variable)

0        1
1        0
2        1
3        1
4        1
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Name: WeekDaySale, Length: 13580, dtype: int64

In [149]:
melb_df['Weekend'] = melb_df['WeekDaySale'].apply(get_weekend)

In [150]:
melb_df['WeekDaySale'].value_counts()
print()

melb_df['Weekend'].value_counts(normalize=True) * 100

Weekend
1    94.418262
0     5.581738
Name: proportion, dtype: float64

In [161]:
avg = melb_df[melb_df['Weekend'] == 1]['Price'].mean()
print(avg, round(avg, 0), sep='\n')

1081198.6406956792
1081199.0

Exercise 4.3: change SellerG in a way that you are only left with 49 most popular real estate agents, and the rest as 'other'

find all unique sellers

In [162]:
melb_df['SellerG'].nunique()

268

find the values assigned to each seller

In [164]:
no_of_real_estate = melb_df['SellerG'].value_counts()
no_of_real_estate

SellerG
Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: count, Length: 268, dtype: int64

In [166]:
real_estate_agents = melb_df['SellerG']
display(real_estate_agents)

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object

set the largest sellers to 49

In [167]:
popular_real_estate = real_estate_agents.value_counts().nlargest(49).index
print(popular_real_estate)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object', name='SellerG')

create a new column with real estate agents and apply the function

In [168]:
melb_df['RealEstate'] = real_estate_agents.apply(lambda x: x if x in popular_real_estate else 'other')
display(melb_df['RealEstate'])

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: RealEstate, Length: 13580, dtype: object

In [169]:
melb_df['RealEstate'].nunique()

50

find how many times is the min price of properties sold by Nelson is higher than the min price of properties sold by 'other' real estate agents

In [173]:
min_price_nelson = melb_df[melb_df['RealEstate'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['RealEstate'] == 'other']['Price'].min()

print(min_price_nelson, min_price_other, sep=', ')
print(round(min_price_nelson / min_price_other, 2))

170000.0, 131000.0
1.3

Exercise 4.4

In [174]:
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])
test_series_1

0      Опыт работы 8 лет 3 месяца
1    Опыт работы 3 года 5 месяцев
2     Опыт работы 1 год 9 месяцев
3            Опыт работы 3 месяца
4               Опыт работы 6 лет
dtype: object

In [175]:
test_series_2 = pd.Series([
    'Опыт работы 5 лет',
    'Опыт работы 5 месяцев',
    'Опыт работы 1 год 1 месяц',
    'Опыт работы 3 месяца',
    'Опыт работы 7 лет'
])
test_series_2

0            Опыт работы 5 лет
1        Опыт работы 5 месяцев
2    Опыт работы 1 год 1 месяц
3         Опыт работы 3 месяца
4            Опыт работы 7 лет
dtype: object

In [187]:
def get_experience(arg):
    #convert the string into a list with each element separated
    arg_lst = arg.split(' ')
    #for the experience in years AND months
    if len(arg_lst) == 6:
        yrs = arg_lst[2]
        mths = arg_lst[4]
        exp = (int(yrs) * 12) + int(mths)
    #for the experience in months OR years
    elif len(arg_lst) == 4:
        for word in arg_lst:
            if arg.__contains__('мес'):
                mths = arg_lst[2]
                exp = int(mths)
            elif arg.__contains__('лет') or arg.__contains__('год'):
                yrs = arg_lst[2]
                exp = int(yrs) * 12
    return exp

In [188]:
print(test_series_1.apply(get_experience))

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [189]:
print(test_series_2.apply(get_experience))

0    60
1     5
2    13
3     3
4    84
dtype: int64