In [48]:
import pandas as pd, numpy as np

export and read the cycling file

In [102]:
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_tripdata.head(3)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

create a copy

In [103]:
cycling_data = citibike_tripdata.copy()
cycling_data.head(3)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

Exercise 6.1: how many records are missing (blank) in start station id column?

In [104]:
cycling_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [105]:
cycling_data['start station id'].isna().sum()

169

Exercise 6.3: find the most popular start station id

In [106]:
cycling_data['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

Exercise 6.4: find the most popular bike id

In [107]:
cycling_data['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Exercise 6.5: which type of client is the most frequent - subscriber or customer? \
what is the proportion of this client type compared to the total number of users?

In [108]:
cycling_data['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

Exercise 6.6: which sex cycle more: men or women? \
for the sex that does, find the total number of trips taken

1 - men, 2 - women, 0 - unknown

In [109]:
proportion_by_sex = cycling_data['gender'].value_counts()
proportion_by_sex

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [110]:
cycling_data[cycling_data['gender'] == 1].shape[0]

183582

Exercise 6.7: find truthful statements

In [111]:
start_no = cycling_data['start station id'].shape[0]
end_no = cycling_data['end station id'].shape[0]

print(start_no, end_no, sep=', ')

300000, 300000

In [112]:
#convert StopTime to_datetime
cycling_data['stoptime'] = pd.to_datetime(cycling_data['stoptime'])

#create a new variable - Year
yr_vble = cycling_data['stoptime'].dt.year

age_of_bikers = yr_vble - cycling_data['birth year']
age_of_bikers.min()

16

In [113]:
cycling_data['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [114]:
cycling_data['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

Exercise 6.8: delete unnecessary columns

In [115]:
#don't forget to apply the change directly do the data set
cycling_data = cycling_data.drop(['start station latitude', 'start station longitude', 'end station latitude', 'end station longitude'], axis=1)

In [116]:
cycling_data = cycling_data.drop(['start station id', 'end station id'], axis=1)

Exercise 6.9: \
(a) change birth year to age, and delete birth year

In [117]:
#create a new column Age: by taking away the birth year from the year 2018
cycling_data['age'] = 2018 - cycling_data['birth year']
cycling_data.head(2)

,starttime,stoptime,start station name,end station name,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,Schermerhorn St & Court St,34377,Subscriber,1969,0,49

In [118]:
#delete the unnecessary column - birth year
cycling_data = cycling_data.drop('birth year', axis=1)

In [119]:
cycling_data.tail(3)

,starttime,stoptime,start station name,end station name,bikeid,usertype,gender,age
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,W 18 St & 6 Ave,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.322,W 11 St & 6 Ave,Broadway & W 60 St,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.762,1 Ave & E 110 St,Lexington Ave & E 111 St,18292,Subscriber,1,52

(b) how many trips were taken by clients over the age of 60?

In [120]:
senior_no_of_trips = cycling_data[cycling_data['age'] > 60].shape[0]
senior_no_of_trips

11837

Exercise 6.10: \
Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [121]:
#convert StartTime to_datetime
cycling_data['starttime'] = pd.to_datetime(cycling_data['starttime'])

cycling_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   starttime           300000 non-null  datetime64[ns]
 1   stoptime            300000 non-null  datetime64[ns]
 2   start station name  299831 non-null  object
 3   end station name    299831 non-null  object
 4   bikeid              300000 non-null  int64
 5   usertype            300000 non-null  object
 6   gender              300000 non-null  int64
 7   age                 300000 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 18.3+ MB

In [122]:
#find the duration of the trip
cycling_data['trip duration'] = cycling_data['stoptime'] - cycling_data['starttime']

In [123]:
cycling_data.head()

,starttime,stoptime,start station name,end station name,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,Schermerhorn St & Court St,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,Smith St & 3 St,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,Park Pl & Church St,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,W 4 St & 7 Ave S,20943,Customer,1,24,0 days 02:20:57.993000

In [124]:
cycling_data.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

Exercise 6.11: create the column weekend \
then find the no of trip starting on Saturday or Sunday

In [125]:
cycling_data['weekend'] = cycling_data['starttime'].dt.day_name()

In [126]:
cycling_data.head(3)

,starttime,stoptime,start station name,end station name,bikeid,usertype,gender,age,trip duration,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,25577,Subscriber,1,38,0 days 00:27:15.365000,Saturday
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,Schermerhorn St & Court St,34377,Subscriber,0,49,0 days 00:02:12.200000,Saturday
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,Smith St & 3 St,30496,Subscriber,1,43,0 days 00:55:37.898000,Saturday

In [127]:
weekend_start_trip_no = cycling_data[(cycling_data['weekend'] == 'Saturday') | (cycling_data['weekend'] == 'Sunday')].shape[0]
weekend_start_trip_no

115135

Exercise 6.12: \
(a) create a feature time_of_day

In [135]:
start_hour = cycling_data['starttime'].dt.hour
start_hour.dtype

dtype('int32')

In [136]:
cycling_data['Hour'] = cycling_data['starttime'].dt.hour
cycling_data.head()

,starttime,stoptime,start station name,end station name,bikeid,usertype,gender,age,trip duration,weekend,Hour
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,25577,Subscriber,1,38,0 days 00:27:15.365000,Saturday,0
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,Schermerhorn St & Court St,34377,Subscriber,0,49,0 days 00:02:12.200000,Saturday,0
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,Smith St & 3 St,30496,Subscriber,1,43,0 days 00:55:37.898000,Saturday,0
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,Park Pl & Church St,28866,Subscriber,2,34,0 days 00:07:16.837000,Saturday,0
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,W 4 St & 7 Ave S,20943,Customer,1,24,0 days 02:20:57.993000,Saturday,0

In [137]:
cycling_data['Hour'].dtype

dtype('int32')

night: 00-06 \
morning: >06-12 \
day: >12-18 \
evening: >18-23

In [138]:
def start_trip_hour(hour):
    if 0 <= hour <= 6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day'
    elif 18 < hour <= 23:
        return 'evening'
        
start_hour.apply(start_trip_hour)

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: starttime, Length: 300000, dtype: object

In [139]:
#testing
cycling_data['time_of_day'] = cycling_data['Hour'].apply(start_trip_hour)

In [140]:
cycling_data.head()

,starttime,stoptime,start station name,end station name,bikeid,usertype,gender,age,trip duration,weekend,Hour,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,Clinton Ave & Myrtle Ave,25577,Subscriber,1,38,0 days 00:27:15.365000,Saturday,0,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,Schermerhorn St & Court St,34377,Subscriber,0,49,0 days 00:02:12.200000,Saturday,0,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,Smith St & 3 St,30496,Subscriber,1,43,0 days 00:55:37.898000,Saturday,0,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,Park Pl & Church St,28866,Subscriber,2,34,0 days 00:07:16.837000,Saturday,0,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,W 4 St & 7 Ave S,20943,Customer,1,24,0 days 02:20:57.993000,Saturday,0,night

In [141]:
#delete unnecessary column
cycling_data = cycling_data.drop('Hour', axis=1)

(b) how many times do day trips are taken more frequently than night trips?

In [144]:
day_trips_no = cycling_data[cycling_data['time_of_day'] == 'day'].shape[0]
night_trips_no = cycling_data[cycling_data['time_of_day'] == 'night'].shape[0]

print(day_trips_no, night_trips_no, sep=', ')

freq_dif = day_trips_no / night_trips_no
print(freq_dif, round(freq_dif, 0), sep=', ')

143012, 15085
9.480411004308916, 9.0