In [1]:
import numpy as np
import pandas as pd

In [2]:
print('join the two given dataframes along rows and assign all data')

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
        
result_data = pd.concat([student_data1, student_data2], axis=0)
print(result_data)

join the two given dataframes along rows and assign all data
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [3]:
print('join the two given dataframes along columns and assign all data')
        
result_data = pd.concat([student_data1, student_data2], axis=1)
print(result_data)

join the two given dataframes along columns and assign all data
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [4]:
print('append rows to an existing DataFrame and display the combined data')

student_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
print(student_data)
print()

print(s6)
print()

student_data = pd.concat([student_data, pd.DataFrame([s6])], ignore_index=True)
print(student_data)

append rows to an existing DataFrame and display the combined data
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [5]:
print('append a list of dictioneries or series to a existing DataFrame and display the combined data')

student_data  = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
dicts = pd.DataFrame([{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
                      {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}])

print(dicts)
print()

student_data = pd.concat([student_data, dicts], ignore_index=True)
print(student_data)

append a list of dictioneries or series to a existing DataFrame and display the combined data
  student_id              name  marks
0         S6  Scarlette Fisher    203
1         S7      Bryce Jensen    207

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207

In [6]:
students  = pd.DataFrame({
        'student_id': [1, 2, 3, 4, 5],
        'name': ['Jackie Taylor', 'Shauna Shipman', 'Lottie Matthews', 'Natalie Scattorcio', 'Misty Quigley'], 
        'marks': [3.75, 3.9, 3.5, 3.3, 3.7]})

s6 = pd.Series([6, 'Vanessa Palmer', 3.55], index=['student_id', 'name', 'marks'])

dicts = pd.DataFrame([{'student_id': 6, 'name': 'Vanessa Palmer', 'marks': 3.55},
                      {'student_id': 7, 'name': 'Taissa Turner', 'marks': 3.85},
                      {'student_id': 8, 'name': 'Laura Lee', 'marks': 3.69}])

def add_records(data, rows):
    if isinstance(rows, pd.Series):
        data = pd.concat([data, pd.DataFrame([rows])], ignore_index=True)
    elif isinstance(rows, pd.DataFrame):
        data = pd.concat([data, rows], ignore_index=True)
    return data

print(add_records(students, s6))
print()

print(add_records(students, dicts))
print()

   student_id                name  marks
0           1       Jackie Taylor   3.75
1           2      Shauna Shipman   3.90
2           3     Lottie Matthews   3.50
3           4  Natalie Scattorcio   3.30
4           5       Misty Quigley   3.70
5           6      Vanessa Palmer   3.55

   student_id                name  marks
0           1       Jackie Taylor   3.75
1           2      Shauna Shipman   3.90
2           3     Lottie Matthews   3.50
3           4  Natalie Scattorcio   3.30
4           5       Misty Quigley   3.70
5           6      Vanessa Palmer   3.55
6           7       Taissa Turner   3.85
7           8           Laura Lee   3.69

In [7]:
print('join the two given dataframes along rows and merge with another dataframe along the common column id')

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)
print()

combined = result_data.merge(
    exam_data,
    how = 'inner',
    on = 'student_id'
)
print(combined)

join the two given dataframes along rows and merge with another dataframe along the common column id
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [8]:
print('join the two dataframes using the common column of both dataframes')

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

combined = student_data1.merge(student_data2, how='inner', on='student_id')
print(combined)

join the two dataframes using the common column of both dataframes
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [9]:
print('join the two dataframes with matching records from both sides where available')

student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
        'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})
        
combined = student_data1.merge(student_data2, how='outer', on='student_id')
print(combined)

join the two dataframes with matching records from both sides where available
  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [10]:
print('join (left join) the two dataframes using keys from left dataframe only')

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
                     
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

combined = data1.merge(data2, how='left', on=['key1', 'key2'])
print(combined)

join (left join) the two dataframes using keys from left dataframe only
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [11]:
print('join two dataframes using keys from right dataframe only')

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
                     
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

combined = data1.merge(data2, how='right')#, on=['key1', 'key2'])
print(combined)

join two dataframes using keys from right dataframe only
  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [12]:
print('merge two given datasets using multiple join keys')

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
                     
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

combined = data1.merge(data2, how='inner') #pd.merge(data1, data2, on=['key1', 'key2'])
print(combined)

merge two given datasets using multiple join keys
  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

In [13]:
print('create a new DataFrame based on existing series, using specified argument and override the existing columns names')

s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name='col3')
df = pd.concat([s1, s2, s3], axis=1, keys=['column1', 'column2', 'column3'])
print(df)

create a new DataFrame based on existing series, using specified argument and override the existing columns names
   column1  column2  column3
0        0        0        0
1        1        1        1
2        2        2        4
3        3        3        5

In [14]:
print('create a combination from two dataframes where a column id combination appears more than once in both dataframes')

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})
                     
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

combined = data1.merge(data2, how='left', on=['key1'])
print(combined)

create a combination from two dataframes where a column id combination appears more than once in both dataframes
  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

In [15]:
print('combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame')

data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                      'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

result = data1.join(data2)
print(result)

combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [16]:
print('merge two given dataframes with different columns')

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']})

data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

result = pd.concat([data1,data2], axis=0, ignore_index=True)
print(result)

merge two given dataframes with different columns
  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [17]:
print('combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame')

df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})

result = df1.combine_first(df2)
print(result)

combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0