In [1]:
import pandas as pd, numpy as np

In [2]:
technologies = pd.DataFrame({
    'Courses': ["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee': [22000, 25000, 23000, 24000, 26000],
    'Duration': ['30days','50days','30days', None, np.nan],
    'Discount': [1000, 2300, 1000, 1200, 2500]
          })
technologies

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

Example 1: Get the list of all column names from headers

In [3]:
column_names = list(technologies.columns.values)
column_names

['Courses', 'Fee', 'Duration', 'Discount']

Example 2: Get the list of all column names from headers

In [4]:
column_names = technologies.columns.values.tolist()
column_names

['Courses', 'Fee', 'Duration', 'Discount']

Example 3: Using list(df) to get the column headers as a list

In [5]:
column_names = list(technologies.columns)
column_names

['Courses', 'Fee', 'Duration', 'Discount']

Example 4: Using list(df) to get the list of all Column Names

In [6]:
column_names = list(technologies)
column_names

['Courses', 'Fee', 'Duration', 'Discount']

Example 5: Dataframe show all columns sorted list

In [7]:
column_names=sorted(technologies)
column_names

['Courses', 'Discount', 'Duration', 'Fee']

Example 6: Get all Column Header Labels as List

In [8]:
for column_headers in technologies.columns: 
    print(column_headers)
print()
    
column_names = technologies.keys().values.tolist()
column_names

Courses
Fee
Duration
Discount

['Courses', 'Fee', 'Duration', 'Discount']

Example 7: Get all numeric columns

In [9]:
numeric_columns = technologies._get_numeric_data().columns.values.tolist()
numeric_columns

['Fee', 'Discount']

Example 8: Simple Pandas Numeric Columns Code

In [10]:
numeric_columns = technologies.dtypes[technologies.dtypes == "int64"].index.values.tolist()
numeric_columns

['Fee', 'Discount']