IMPORT LIBRARIES

In [1]:
import pandas as pd, numpy as np

create the dataset yourself

In [2]:
sales_data = pd.DataFrame(
    {'Customer Number': [10002.0, 552278, 23477, 24900, 651029],
     'Customer Name': ['Quest Industries', 'Smith Plumbing', 'ACME Industrial', 'Brekke LTD', 'Harbor Co'],
     '2016': ['$125,000.00', '$920,000.00', '$50,000.00', '$350,000.00', '$15,000.00'],
     '2017': ['$162500.00', '$101,2000.00', '$62500.00', '$490000.00', '$12750.00'],
     'Percent Growth': ['30.00%', '10.00%', '25.00%', '4.00%', '-15.00%'],
     'Jan Units': [500, 700, 125, 75, 'Closed'],
     'Month': [1, 6, 3, 10, 2],
     'Day': [10, 15, 29, 27, 2],
     'Year': [2015, 2014, 2016, 2015, 2014],
     'Active': ['Y', 'Y', 'Y', 'Y', 'N']       
    }
)
sales_data

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,N

would like to add two columns together -> but pandas is doing concatenation instead \
(due to dtype being object)

In [3]:
add = sales_data['2016'] + sales_data['2017']
add

0      $125,000.00$162500.00
1    $920,000.00$101,2000.00
2        $50,000.00$62500.00
3      $350,000.00$490000.00
4        $15,000.00$12750.00
dtype: object

find the general information on the data set

In [4]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

to actually change the dtype of a column in the original dataframe \
make sure to assign it back since the astype() function returns a copy only

In [5]:
sales_data['Customer Number'] = sales_data['Customer Number'].astype('int64')
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: int64(4), object(6)
memory usage: 528.0+ bytes

astype() a perfect tool only if the data is clean

In [6]:
print('unable to convert 2016 or 2017 to float64 due to currency, and Active to bool value')
print()

print('astype only works if:', 'the data is clean and can be simply interpreted as a number, or', 'want to convert a numeric value to a string object', \
    sep='\n')

print('if the data has non-numeric characters or is not homogeneous, then astype() is not a good choice for type conversion')

unable to convert 2016 or 2017 to float64 due to currency, and Active to bool value

astype only works if:
the data is clean and can be simply interpreted as a number, or
want to convert a numeric value to a string object
if the data has non-numeric characters or is not homogeneous, then astype() is not a good choice for type conversion

custom conversion: currency -> using a normal function

In [7]:
def convert_currency(val):
    """
    Convert the string number value (currency value) to a float
     - remove $
     - remove commas
     - convert to float
    """
    new_val = val.replace(',', '').replace('$', '')
    return float(new_val)

sales_data['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

custom conversion: currency -> using the lambda function

In [8]:
sales_data['2017'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

custom conversion: % -> using the lambda function \
add *100 to ensure the value becomes a percentage point

In [10]:
sales_data['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

custom conversion: using np.where() to convert to bool value

In [11]:
np.where(sales_data["Active"] == "Y", True, False)

array([ True,  True,  True,  True, False])

custom conversion: numeric and strings using to_numeric with fillna() function for NaN

In [12]:
pd.to_numeric(sales_data['Jan Units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

custom conversion: mm/dd/yyyy using to_datetime

In [13]:
pd.to_datetime(sales_data[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

need to assign / apply all the changes back to the original

In [14]:
sales_data['2016'] = sales_data['2016'].apply(convert_currency)

sales_data['2017'] = sales_data['2017'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

sales_data['Percent Growth'] = sales_data['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

sales_data["Active"] = np.where(sales_data["Active"] == "Y", True, False)

sales_data['Jan Units'] = pd.to_numeric(sales_data['Jan Units'], errors='coerce').fillna(0)

sales_data['Sale Date'] = pd.to_datetime(sales_data[['Month', 'Day', 'Year']])

In [15]:
sales_data

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active,Sale Date
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,1,10,2015,True,2015-01-10
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,6,15,2014,True,2014-06-15
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,3,29,2016,True,2016-03-29
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,10,27,2015,True,2015-10-27
4,651029,Harbor Co,15000.0,12750.0,-0.15,0.0,2,2,2014,False,2014-02-02

In [16]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      int64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      float64
 3   2017             5 non-null      float64
 4   Percent Growth   5 non-null      float64
 5   Jan Units        5 non-null      float64
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      bool
 10  Sale Date        5 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 533.0+ bytes

if you know that the date set comes in the same format each time \
can write a function to convert it instantly

In [ ]:
# df_2 = pd.read_csv("sales_data_types.csv",
#                    dtype={'Customer Number': 'int'},
#                    converters={'2016': convert_currency,
#                                '2017': convert_currency,
#                                'Percent Growth': convert_percent,
#                                'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
#                                'Active': lambda x: np.where(x == "Y", True, False)
#                               })

# df_2.dtypes

In [17]:
#del sales_data['Month'] #works with one column at a time
sales_data = sales_data.drop(['Month', 'Day', 'Year'], axis=1) #works with multiple columns

In [18]:
sales_data

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Active,Sale Date
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,True,2015-01-10
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,True,2014-06-15
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,True,2016-03-29
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,True,2015-10-27
4,651029,Harbor Co,15000.0,12750.0,-0.15,0.0,False,2014-02-02

EXPORT TO FOLDER WITHOUT THE INDEX

In [120]:
sales_data.to_csv('data/sales_data.csv', index=False)

READ THE FILE TO CONFIRM THAT IT WAS SAVED CORRECTLY

In [121]:
sales_data = pd.read_csv('data/sales_data.csv', sep=',')
sales_data

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Active,Sale Date
0,10002,Quest Industries,125000.0,162500.0,0.30,500.0,True,2015-01-10
1,552278,Smith Plumbing,920000.0,1012000.0,0.10,700.0,True,2014-06-15
2,23477,ACME Industrial,50000.0,62500.0,0.25,125.0,True,2016-03-29
3,24900,Brekke LTD,350000.0,490000.0,0.04,75.0,True,2015-10-27
4,651029,Harbor Co,15000.0,12750.0,-0.15,0.0,False,2014-02-02