IMPORT LIBRARY

In [5]:
import pandas as pd, numpy as np

DATAFRAME + CHANGING THE INDEX

In [2]:
countries = pd.DataFrame({
    'country': ['United Kingdom', 'Canada', 'United States'],
    'population': [56.29, 38.05, 322.28],
    'square': [133396, 9984670, 9826630],
    }
)
print(countries)
print()

countries.index = ['UK', 'CA', 'US']
print(countries)
print()

          country  population   square
0  United Kingdom       56.29   133396
1          Canada       38.05  9984670
2   United States      322.28  9826630

           country  population   square
UK  United Kingdom       56.29   133396
CA          Canada       38.05  9984670
US   United States      322.28  9826630

DATAFRAME + FINDING THE HORIZONTAL / VERTICAL MEAN

In [3]:
countries = pd.DataFrame({
    'country': ['United Kingdom', 'Canada', 'United States'],
    'population': [56.29, 38.05, 322.28],
    'square': [133396, 9984670, 9826630]},
    index = ['UK', 'CA', 'US']
)
print(countries)
print()

print(countries.mean(axis=0, numeric_only=True))
print()

print(countries.mean(axis=1, numeric_only=True))
print()

           country  population   square
UK  United Kingdom       56.29   133396
CA          Canada       38.05  9984670
US   United States      322.28  9826630

population    1.388733e+02
square        6.648232e+06
dtype: float64

UK      66726.145
CA    4992354.025
US    4913476.140
dtype: float64

MEAN

In [6]:
np.random.seed(seed=42)
week = pd.DataFrame(
    data = np.random.randint(0, 100, (4,3)),
    columns = ('Monday', 'Tuesday', 'Wednesday'),
    index = ('Shelby', 'Nora', 'Henry', 'Linh')
    )
print(week)
print()

print('mean across columns: takes the average per day')
print(week.mean(axis='index'))
print(week.mean(axis=0))
print()

print('mean across rows: takes the average per person')
print(week.mean(axis='columns'))
print(week.mean(axis=1))
print()

        Monday  Tuesday  Wednesday
Shelby      51       92         14
Nora        71       60         20
Henry       82       86         74
Linh        74       87         99

mean across columns: takes the average per day
Monday       69.50
Tuesday      81.25
Wednesday    51.75
dtype: float64
Monday       69.50
Tuesday      81.25
Wednesday    51.75
dtype: float64

mean across rows: takes the average per person
Shelby    52.333333
Nora      50.333333
Henry     80.666667
Linh      86.666667
dtype: float64
Shelby    52.333333
Nora      50.333333
Henry     80.666667
Linh      86.666667
dtype: float64

MEDIAN

In [7]:
np.random.seed(seed=42)
week = pd.DataFrame(
    data = np.random.randint(0, 100, (4,3)),
    columns = ('Monday', 'Tuesday', 'Wednesday'),
    index = ('Shelby', 'Nora', 'Henry', 'Linh')
    )
print(week)
print()

print('median across columns: takes the average per day')
print(week.median(axis=0))
print()

print('median across rows: takes the average per person')
print(week.median(axis=1))
print()

        Monday  Tuesday  Wednesday
Shelby      51       92         14
Nora        71       60         20
Henry       82       86         74
Linh        74       87         99

median across columns: takes the average per day
Monday       72.5
Tuesday      86.5
Wednesday    47.0
dtype: float64

median across rows: takes the average per person
Shelby    51.0
Nora      60.0
Henry     82.0
Linh      87.0
dtype: float64

MODE

In [8]:
week_days = pd.DataFrame({
    'subjects': [6, 6, 5],
    'marks': [85, 80, 85],
    },
    index = ['MON', 'TUE', 'WED']
)
print(week_days)
print()

print('mode across columns')
print(week_days.mode(axis='index'))
print()

     subjects  marks
MON         6     85
TUE         6     80
WED         5     85

mode across columns
   subjects  marks
0         6     85

DATAFRAME: COUNTRIES + EXPORTING PIECES USING .LOC / .ILOC, COLUMN NAMES

In [9]:
countries = pd.DataFrame({
    'country': ['United Kingdom', 'Canada', 'United States', 'Russia'],
    'population': [56.29, 38.05, 322.28, 146.24],
    'square': [133396, 9984670, 9826630, 17125191]},
    index = ['UK', 'CA', 'US', 'RU']
)
print(countries)
print()

print(countries.population)
print()
print(type(countries.population))
print()

print(countries['square'])
print()

print(countries.loc['UK', 'population'])
print()

print(countries.loc['RU', ['population', 'square']])
print()

print(countries.loc[['CA', 'US'], ['population', 'square']])
print()

           country  population    square
UK  United Kingdom       56.29    133396
CA          Canada       38.05   9984670
US   United States      322.28   9826630
RU          Russia      146.24  17125191

UK     56.29
CA     38.05
US    322.28
RU    146.24
Name: population, dtype: float64

<class 'pandas.core.series.Series'>

UK      133396
CA     9984670
US     9826630
RU    17125191
Name: square, dtype: int64

56.29

population      146.24
square        17125191
Name: RU, dtype: object

    population   square
CA       38.05  9984670
US      322.28  9826630

EXERCISE 3.5

In [10]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    #set the DataFrame using dict
    df = pd.DataFrame({
        'income': income,
        'expenses': expenses
    },
    index = years
    )
    return df

print(create_companyDF(income, expenses, years))
print()

#call the first function
#so that a table exists to be called in the second function
df = create_companyDF(income, expenses, years)

def get_profit(df, year):
    if year in years:
        dif_per_year = df.loc[year, 'income'] - df.loc[year, 'expenses']
        return dif_per_year

print(get_profit(df, 2018))
print(get_profit(df, 2019))
print(get_profit(df, 2020))
print(get_profit(df, 2023))
print()

      income  expenses
2018     478       156
2019     512       130
2020     196       270

322
382
-74
None