In [15]:
import pandas as pd, numpy as np

READ THE PROPERTY CSV FILE

In [39]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

find the average price of all properties

In [40]:
round(melb_data['Price'].mean(), 2)

1075684.08

find the maximum number of parking places

In [41]:
melb_data['Car'].max()

10.0

find the commission rate for real estate agents

In [42]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

Найдём, насколько медианная площадь территории отличается от её среднего значения. \
Вычислим модуль разницы между медианой и средним и разделим результат на среднее, чтобы получить отклонение в долях.

In [43]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
round(abs(landsize_median - landsize_mean)/landsize_mean * 100, 2)

21.21

FIND THE MOST POPULAR VALUE BY USING MODE

In [44]:
x = melb_data['Rooms'].mode()
y = melb_data['Regionname'].mode()
print(x, y, sep='\n')

0    3
Name: Rooms, dtype: int64
0    Southern Metropolitan
Name: Regionname, dtype: object

EXERCISE 7.2: MAXIMUM NUMBER OF PROPERTIES

In [45]:
melb_data['Propertycount'].max()

21650.0

EXERCISE 7.3: STANDARD DEVIATION OF DISTANCE FROM THE CITY CENTRE

In [46]:
i = melb_data['Distance'].std()
j = round(melb_data['Distance'].std(), 0)
print(i, j, sep='\n')

5.868724943071711
6.0

EXERCISE 7.4: Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [48]:
avg = melb_data['BuildingArea'].mean()
med = melb_data['BuildingArea'].quantile(0.5)
print(med, avg, sep='\n')

126.0
139.63397229013256

In [52]:
dif_between = abs(((med / avg) * 100) - 100)
dif_between

9.764079662364537

EXERCISE 7.5: FIND THE MODE OF THE DATASET

In [38]:
data = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
data.mode()

   0
0  2

EXERCISE 7.6: THE MOST POPULAR NUMBER OF BEDROOMS?

In [36]:
melb_data['Bedroom'].mode()

0    3.0
Name: Bedroom, dtype: float64